:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
.aws-btn {

	--slider-height-percentage: 60%;
	--slider-transition-duration: 770ms;
	--organic-arrow-thickness: 4px;
	--organic-arrow-border-radius: 0px;
	--organic-arrow-height: 40px;
	--organic-arrow-color: #3f8577;
	--control-button-width: 10%;
	--control-button-height: 25%;
	--control-button-background: transparent;
	--control-bullet-color: #4a9c8c;
	--control-bullet-active-color: #3f8577;
	--loader-bar-color: #851515;
	--loader-bar-height: 6px;
	}